*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 65px;
}

.header_top_container_wrapper{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_top_container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_container_price{
    width: 50%;
    height: 100%;
}

.top_price_list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top_price_list_element{
    display: flex;
    list-style-type: none;
    font-size: 15px;
    padding-right: 30px;
}

.top_price_name{
    color: rgb(116, 116, 116);
    padding-right: 5px;
}

.top_price_value{
    color: rgb(72 208 110);
}

.top_container_log{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top_login, .top_registration{
    width: auto;
    height: 100%;
    padding-left: 20px;
    color:rgb(116, 116, 116)
}





.header_middle_hr{
    border-top: 2px solid black;
    opacity: 0.1;
}

.header_block_wrapper{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_block{
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Akshar', sans-serif;
}

.logo_text{
    font-size: 25px;
}

.header_connect_wallet{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-family: 'Akshar', sans-serif;
    font-size: 17px;
}

.connect_wallet_p{
    padding-right: 15px;
}

.metamask_header_logo{
    height: 50%;
}

.header_menu_element{
    display: inline;
    list-style-type: none;
}

.header_menu_element-a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Akshar', sans-serif;
    margin-right: 17px;
}




main{
    width: 100%;
    min-height: calc(100vh - 65px);
    height: auto;
    background-color: rgb(246, 245, 245);
    display: flex;
    justify-content: center;
}

.main_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: auto;
    min-height: 200px;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_block{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.main_top_block{
    width: 100%;
    height: 50%;
}

.project_name_block{
    width: 100%;
    height: auto;
    min-height: 20%;
}

.p_name{
    color: rgb(55, 55, 55);
    font-size: 80px;
}

.project_site_block{
    width: 100%;
    height: 10%;
}

.p_site{
    color: rgb(55, 55, 55);
    font-size: 20px;
}

.coin_info_block{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin_info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.coin_count_block{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.coin_count{
    color: black;
    font-size: 20px;
}

.coin_price_block{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.coin_price{
    color: black;
    font-size: 20px;
}

.smart_contract_block{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.smart_contract{
    color: rgb(77, 77, 77);
    font-size: 20px;
}






.main_bottom_block{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_left_block{
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px 0 0 20px;
}

.buy_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coin_count_input, .usdt_count_input{
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px 6px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 10px 6px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 10px 6px rgba(34, 60, 80, 0.2);
}

.buy_button{
    width: 40%;
    padding: 10px;
    font-size: 25px;
    background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
    color: aliceblue;
    border: none;
    border-radius: 20px;
}

.json_response{
    width: 100%;
    text-align: center;
    color: rgb(78, 195, 127);
    font-size: 18px;
}




.bottom_right_block{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 0 10px 20px 0;
}