<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPHERE authorization</title>
    <link rel="stylesheet" href="css/test_css.css">
</head>
<body>
    <main>
        <div class="form">
            <div class="top_form">
                <div class="main_information">
                    <p class="company_name">
                        SPHERE
                    </p>
                    <p class="page_name">
                        вход в аккаунт
                    </p>
                </div>
                <div class="cur_information">
                    *Имя пользователя
                </div>
                <input type="text" id="send_login" class="input_form_element">
                <div class="cur_information_bottom">
                    *Пароль
                </div>
                <input type="password" id="send_password" class="input_form_element">
        
                <input type="button" class="input_button_element" onclick="sendAuthorizationData()" value="Вход">
    
                <div class="alert_information" id="alertText">
    
                </div>
            </div>
            <div class="bottom_form">
                Ещё не зарегистрированы? <a href="/create_new_account" class="another_ref">Создайте</a> свой аккаунт.
            </div>
        </div>
        <div class="other_side">
            <canvas id="c"></canvas>
        </div>
    </main>

    <script src="js/main_api.js"></script>
    <script src="js/sphere_script.js"></script>
</body>
</html>